*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.lists{
  background-color: teal;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 3px 0px #333;
  
}
.lists:hover{
  margin-bottom: 0;
  background-color: tomato;
  box-shadow: 0px 0px 7px 0px #333;
}
.cards{
  width:200px;
  padding: 10px;
  background-color: white;
  font-family: monospace;
  /* border-radius: 20%; */
  margin-bottom: 1em;
}
.spinner-container{
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
}
.spinner{
  width: 70px;
  height: 70px;
}